* {
  width: 800px;
  margin: 0 auto;
}
h1 > a {
  color: red;
  font-family: "lato", sans-serif;
  font-size: 50px;
  text-decoration: none;
  font-weight: normal;
}
body {
  border: 1px solid black;
  padding: 40px;
}
nav a {
  color: #d8d8d2;
  padding: 10px;
  margin: 10px;
  font-size: 20px;
  margin-right: 10px;
}
h2 a {
  color: #000000;
  text-decoration: none;
  font-size: 30px;
  font-weight: normal;
  font-family: "lato", sans-serif;
}
h2 {
  font-weight: normal;
  font-size: 30px;
}
h3 {
  color: #d8d8d2;
  font-weight: normal;
  font-size: 30px;
  margin-right: 20px;
  margin-bottom: 10px
}
h4 a {
  color: red;
  text-decoration: none;
  margin: 700px;
}
p {
  color: #808080;
  font-family: "lato", sans-serif;
  text-align: justify;
}
img {
  max-height: 285px;
  max-width: 800px;
}
.first-letter {
  font-size: 100px;
  font-weight: normal;
  float: right;
  color: grey;
  padding-right: 5px;
  padding-bottom: 0px;
  color: #e0e0e0;
}
div a {
  color: red;
  font-weight: normal;
  margin: 20px;
  text-decoration: none;
}
